$navcolour: #fdf0d5;
$textcolour: #a882dd;
$highlightcolour: #eb5e55;
$bgcolour: #c6d8d3;
$textcolour: #3a3335;

$transition1: all 0.1s ease 0;
$transition2: all 0.2s ease-in-out;
$transition3: all 0.1s ease;
$transition4: all 0.1s ease;
