@use "./Variable.scss";

.nav {
  z-index: 20000;
  height: 70px;
  background-color: Variable.$navcolour;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1em;
  top: 0;
  position: sticky;
}

.navbar {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 48.45px;
  margin-right: auto;
  margin-left: 50px;
  border: 2px solid white;
}

.logoname {
  padding: 48.45px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: inline-block;
  margin-right: 3em;
}

.list {
  list-style-type: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: Variable.$textcolour;
  text-decoration: none;
  transition: Variable.$transition2;
}

.link:hover {
  opacity: 50%;
}

.signup {
  background-color: Variable.$highlightcolour;
  padding: 10px 4vh;
  border-radius: 34px;
}

.search {
  color: Variable.$textcolour;
}
